.page__center > center {
  min-width: 610px;
  width: 100%;
}

.small-12.large-12.columns.first.last > table {
  border-collapse: collapse;
  border-spacing: 0;
  padding: 0;
  text-align: left;
  vertical-align: top;
  width: 100%;
}

.small-12.large-12.columns.first.last > table {
  border-collapse: collapse;
  border-spacing: 0;
  padding: 0;
  text-align: left;
  vertical-align: top;
  width: 100%;
}

.header__link > img {
  -ms-interpolation-mode: bicubic;
  border: none;
  clear: both;
  display: block;
  max-width: 100%;
  outline: 0;
  text-decoration: none;
  width: auto
}

.small-12.large-12.columns.first.last > table {
  border-collapse: collapse;
  border-spacing: 0;
  padding: 0;
  text-align: left;
  vertical-align: top;
  width: 100%;
}

.small-12.large-12.columns.first.last > table {
  border-collapse: collapse;
  border-spacing: 0;
  padding: 0;
  text-align: left;
  vertical-align: top;
  width: 100%;
}

.content__text > a {
  margin: 0;
  color: #0099DA;
  font-family: '-apple-system', BlinkMacSystemFont, sans-serif;
  font-weight: 400;
  line-height: 1.3;
  padding: 0;
  text-align: left;
  text-decoration: none;
}

.content__text > a {
  margin: 0;
  color: #0099DA;
  font-family: '-apple-system', BlinkMacSystemFont, sans-serif;
  font-weight: 400;
  line-height: 1.3;
  padding: 0;
  text-align: left;
  text-decoration: none;
}

.small-12.large-12.columns.first.last > table {
  border-collapse: collapse;
  border-spacing: 0;
  padding: 0;
  text-align: left;
  vertical-align: top;
  width: 100%;
}

.small-12.large-12.columns.first.last > table {
  border-collapse: collapse;
  border-spacing: 0;
  padding: 0;
  text-align: left;
  vertical-align: top;
  width: 100%;
}

.social__content.small-7.large-7.columns.first > table {
  border-collapse: collapse;
  border-spacing: 0;
  padding: 0;
  text-align: left;
  vertical-align: top;
  width: 333px !important;
}

.social__links.small-5.large-5.columns.last > table {
  border-collapse: collapse;
  border-spacing: 0;
  padding: 0;
  text-align: left;
  vertical-align: top;
  width: 137px !important;
}

.social__column--1.small-4.large-4.columns.first > table {
  border-collapse: collapse;
  border-spacing: 0;
  padding: 0;
  text-align: left;
  vertical-align: top;
  width: 45px !important;
}

.social__link > img {
  -ms-interpolation-mode: bicubic;
  border: none;
  clear: both;
  display: block;
  max-width: 100%;
  outline: 0;
  text-decoration: none;
  width: auto
}

.social__column--2.small-4.large-4.columns > table {
  border-collapse: collapse;
  border-spacing: 0;
  padding: 0;
  text-align: left;
  vertical-align: top;
  width: 58px !important;
}

.social__link > img {
  -ms-interpolation-mode: bicubic;
  border: none;
  clear: both;
  display: block;
  max-width: 100%;
  outline: 0;
  text-decoration: none;
  width: auto
}

.social__column--3.small-4.large-4.columns.last > table {
  border-collapse: collapse;
  border-spacing: 0;
  padding: 0;
  text-align: left;
  vertical-align: top;
  width: 34px !important;
}

.social__link > img {
  -ms-interpolation-mode: bicubic;
  border: none;
  clear: both;
  display: block;
  max-width: 100%;
  outline: 0;
  text-decoration: none;
  width: auto
}

.small-12.large-12.columns.first.last > table {
  border-collapse: collapse;
  border-spacing: 0;
  padding: 0;
  text-align: left;
  vertical-align: top;
  width: 100%;
}

.footer__text > a {
  margin: 0;
  color: #999;
  font-family: '-apple-system', BlinkMacSystemFont, sans-serif;
  font-weight: 400;
  line-height: 1.3;
  padding: 0;
  text-align: left;
  text-decoration: none;
}

.footer__icon.small-2.large-2.columns.first > table {
  border-collapse: collapse;
  border-spacing: 0;
  padding: 0;
  text-align: left;
  vertical-align: top;
  width: 50px !important;
}

.float-center > img {
  -ms-interpolation-mode: bicubic;
  border: none;
  clear: both;
  display: block;
  max-width: 100%;
  outline: 0;
  text-decoration: none;
  width: auto
}

.footer__icon.small-2.large-2.columns > table {
  border-collapse: collapse;
  border-spacing: 0;
  padding: 0;
  text-align: left;
  vertical-align: top;
  width: 50px !important;
}

.float-center > img {
  -ms-interpolation-mode: bicubic;
  border: none;
  clear: both;
  display: block;
  max-width: 100%;
  outline: 0;
  text-decoration: none;
  width: auto
}

.footer__icon.small-2.large-2.columns > table {
  border-collapse: collapse;
  border-spacing: 0;
  padding: 0;
  text-align: left;
  vertical-align: top;
  width: 50px !important;
}

.float-center > img {
  -ms-interpolation-mode: bicubic;
  border: none;
  clear: both;
  display: block;
  max-width: 100%;
  outline: 0;
  text-decoration: none;
  width: auto
}

.footer__icon.small-2.large-2.columns > table {
  border-collapse: collapse;
  border-spacing: 0;
  padding: 0;
  text-align: left;
  vertical-align: top;
  width: 50px !important;
}

.float-center > img {
  -ms-interpolation-mode: bicubic;
  border: none;
  clear: both;
  display: block;
  max-width: 100%;
  outline: 0;
  text-decoration: none;
  width: auto
}

.footer__icon.small-2.large-2.columns > table {
  border-collapse: collapse;
  border-spacing: 0;
  padding: 0;
  text-align: left;
  vertical-align: top;
  width: 50px !important;
}

.float-center > img {
  -ms-interpolation-mode: bicubic;
  border: none;
  clear: both;
  display: block;
  max-width: 100%;
  outline: 0;
  text-decoration: none;
  width: auto
}

.footer__icon.small-2.large-2.columns.last > table {
  border-collapse: collapse;
  border-spacing: 0;
  padding: 0;
  text-align: left;
  vertical-align: top;
  width: 50px !important;
}

.float-center > img {
  -ms-interpolation-mode: bicubic;
  border: none;
  clear: both;
  display: block;
  max-width: 100%;
  outline: 0;
  text-decoration: none;
  width: auto
}

.small-12.large-12.columns.first.last > table {
  border-collapse: collapse;
  border-spacing: 0;
  padding: 0;
  text-align: left;
  vertical-align: top;
  width: 100%;
}

.page__container {
  background-color: #F2F4F5;
  border-collapse: collapse;
  border-spacing: 0;
  padding: 0;
  text-align: left;
  vertical-align: top;
  width: 100%;
}

.page__center {
  -webkit-hyphens: auto;
  margin: 0;
  border-collapse: collapse !important;
  color: #999;
  font-family: '-apple-system', BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  padding: 0;
  text-align: left;
  vertical-align: top;
  word-wrap: break-word;
}

.container.header.float-center {
  margin: 0 auto;
  background: 0 0;
  border-collapse: collapse;
  border-spacing: 0;
  float: none;
  padding: 0;
  text-align: center;
  vertical-align: top;
  width: 610px;
}

.row.header__row {
  border-collapse: collapse;
  border-spacing: 0;
  display: table;
  padding: 0;
  position: relative;
  text-align: left;
  vertical-align: top;
  width: 610px !important;
}

.small-12.large-12.columns.first.last {
  margin: 0 auto;
  color: #999;
  font-family: '-apple-system', BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  padding: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  width: 610px;
}

.spacer {
  border-collapse: collapse;
  border-spacing: 0;
  padding: 0;
  text-align: left;
  vertical-align: top;
  width: 100%;
}

.row.header__wrapper.float-center {
  margin: 0 auto;
  border-collapse: collapse;
  border-spacing: 0;
  display: table;
  float: none;
  padding: 0;
  position: relative;
  text-align: center;
  vertical-align: top;
  width: 80px !important;
}

.header__link {
  margin: 0;
  color: #2199e8;
  font-family: '-apple-system', BlinkMacSystemFont, sans-serif;
  font-weight: 400;
  line-height: 1.3;
  padding: 0;
  text-align: left;
  text-decoration: none;
  width: 80px;
}

.expander {
  margin: 0;
  color: #999;
  font-family: '-apple-system', BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  padding: 0 !important;
  text-align: left;
  visibility: hidden;
  width: 0;
}

.container.float-center {
  margin: 0 auto;
  background: 0 0;
  border-collapse: collapse;
  border-spacing: 0;
  float: none;
  padding: 0;
  text-align: center;
  vertical-align: top;
  width: 610px;
}

.row {
  border-collapse: collapse;
  border-spacing: 0;
  display: table;
  padding: 0;
  position: relative;
  text-align: left;
  vertical-align: top;
  width: 100%;
}

.container.content.float-center {
  margin: 0 auto;
  background: 0 0;
  background-color: #fff;
  border-collapse: collapse;
  border-spacing: 0;
  float: none;
  padding: 0;
  text-align: center;
  vertical-align: top;
  width: 610px;
}

.row.content__row.float-center {
  margin: 0 auto;
  border-collapse: collapse;
  border-spacing: 0;
  display: table;
  float: none;
  padding: 0;
  position: relative;
  text-align: center;
  vertical-align: top;
  width: 470px !important;
}

.content__title {
  margin: 0;
  margin-bottom: 0;
  color: #0099DA;
  font-family: '-apple- system', BlinkMacSystemFont, sans-serif;
  font-size: 18px;
  font-weight: 400;
  padding: 0;
  text-align: center;
  word-wrap: normal;
}

.content__text {
  margin: 0;
  margin-bottom: 0;
  color: #999;
  font-family: '-apple-system', BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  padding: 0;
  text-align: center;
}

.row.rule__row.float-center {
  margin: 0 auto;
  border-collapse: collapse;
  border-spacing: 0;
  display: table;
  float: none;
  height: 1px;
  padding: 0;
  position: relative;
  text-align: center;
  vertical-align: top;
  width: 510px !important;
}

.spacer.rule__line {
  background-color: #4C4C4C;
  border-collapse: collapse;
  border-spacing: 0;
  padding: 0;
  text-align: left;
  vertical-align: top;
  width: 510px !important;
}

.content__item {
  margin: 0;
  margin-bottom: 0;
  color: #0099DA;
  font-family: '-apple- system', BlinkMacSystemFont, sans-serif;
  font-size: 25px;
  font-weight: 400;
  padding: 0;
  text-align: center;
}

.container.social.float-center {
  margin: 0 auto;
  background: 0 0;
  background-color: #fff;
  border-collapse: collapse;
  border-radius: 8px;
  border-spacing: 0;
  float: none;
  padding: 0;
  text-align: center;
  vertical-align: top;
  width: 610px;
}

.row.social__row.float-center {
  margin: 0 auto;
  border-collapse: collapse;
  border-spacing: 0;
  display: table;
  float: none;
  padding: 0;
  position: relative;
  text-align: center;
  vertical-align: top;
  width: 470px !important;
}

.social__content.small-7.large-7.columns.first {
  margin: 0 auto;
  color: #999;
  font-family: '-apple-system', BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  padding: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  width: 333px !important;
}

.social__title {
  margin: 0;
  margin-bottom: 10px;
  color: #0099DA;
  font-family: '-apple- system', BlinkMacSystemFont, sans-serif;
  font-size: 25px;
  font-weight: 500;
  padding: 0;
  text-align: left;
  word-wrap: normal;
}

.social__text {
  margin: 0;
  margin-bottom: 10px;
  color: #999;
  font-family: '-apple-system', BlinkMacSystemFont, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3;
  padding: 0;
}

.social__links.small-5.large-5.columns.last {
  margin: 0 auto;
  color: #999;
  font-family: '-apple-system', BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  padding: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  width: 137px !important;
}

.container {
  margin: 0 auto;
  background: 0 0;
  border-collapse: collapse;
  border-spacing: 0;
  padding: 0;
  text-align: inherit;
  vertical-align: top;
  width: 100%;
}

.row.social__wrapper {
  border-collapse: collapse;
  border-spacing: 0;
  display: table;
  padding: 0;
  position: relative;
  text-align: left;
  vertical-align: top;
  width: 137px !important;
}

.social__column--1.small-4.large-4.columns.first {
  margin: 0 auto;
  color: #999;
  font-family: '-apple-system', BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  padding: 0;
  padding-bottom: 0;
  padding-left: 0 !important;
  padding-right: 0 !important;
  text-align: left;
  width: 45px !important;
}

.social__link {
  margin: 0;
  color: #2199e8;
  font-family: '-apple-system', BlinkMacSystemFont, sans-serif;
  font-weight: 400;
  line-height: 1.3;
  padding: 0;
  text-align: left;
  text-decoration: none;
}

.social__column--2.small-4.large-4.columns {
  margin: 0 auto;
  color: #999;
  font-family: '-apple-system', BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  padding: 0;
  padding-bottom: 0;
  padding-left: 0 !important;
  padding-right: 0 !important;
  text-align: left;
  width: 58px !important;
}

.social__column--3.small-4.large-4.columns.last {
  margin: 0 auto;
  color: #999;
  font-family: '-apple-system', BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  padding: 0;
  padding-bottom: 0;
  padding-left: 0 !important;
  padding-right: 0 !important;
  text-align: left;
  width: 34px !important;
}

.container.footer.float-center {
  margin: 0 auto;
  background: 0 0;
  border-collapse: collapse;
  border-spacing: 0;
  float: none;
  padding: 0;
  text-align: center;
  vertical-align: top;
  width: 610px;
}

.row.footer__row.float-center {
  margin: 0 auto;
  border-collapse: collapse;
  border-spacing: 0;
  display: table;
  float: none;
  padding: 0;
  position: relative;
  text-align: center;
  vertical-align: top;
  width: 470px !important;
}

.footer__text {
  margin: 0;
  margin-bottom: 10px;
  color: #999;
  font-family: '-apple-system', BlinkMacSystemFont, sans-serif;
  font-size: 11px;
  font-weight: 400;
  line-height: 22px;
  padding: 0;
  text-align: center;
}

.row.footer__icons.float-center {
  margin: 0 auto;
  border-collapse: collapse;
  border-spacing: 0;
  display: table;
  float: none;
  padding: 0;
  position: relative;
  text-align: center;
  vertical-align: top;
  width: 300px !important;
}

.footer__icon.small-2.large-2.columns.first {
  margin: 0 auto;
  color: #999;
  font-family: '-apple-system', BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  padding: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  width: 50px !important;
}

.footer__center-icon {
  min-width: 50px !important;
  width: 50px !important;
}

.float-center {
  margin: 0;
  color: #2199e8;
  font-family: '-apple-system', BlinkMacSystemFont, sans-serif;
  font-weight: 400;
  line-height: 1.3;
  padding: 0;
  text-align: left;
  text-decoration: none;
}

.footer__icon.small-2.large-2.columns {
  margin: 0 auto;
  color: #999;
  font-family: '-apple-system', BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  padding: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  width: 50px !important;
}

.footer__icon.small-2.large-2.columns.last {
  margin: 0 auto;
  color: #999;
  font-family: '-apple-system', BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  padding: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  width: 50px !important;
}

.row.float-center {
  margin: 0 auto;
  border-collapse: collapse;
  border-spacing: 0;
  display: table;
  float: none;
  padding: 0;
  position: relative;
  text-align: center;
  vertical-align: top;
  width: 100%;
}

.footer__handcrafted {
  margin: 0;
  margin-bottom: 10px;
  color: #999;
  font-family: '-apple-system', BlinkMacSystemFont, sans-serif;
  font-size: 10px;
  font-weight: 700;
  line-height: 11px;
  padding: 0;
  text-transform: uppercase;
}
