doctype html

html
  head
    meta(
      charset="UTF-8"
    )
    title Trov Email Directory
  body

    p For Hours Logged 
      a(href="https://gist.github.com/ritcheyer/4d1a743580e4e321387b40a57f73d958") see this Gist

    h1 2017-06-28 Email work
    ol
      li 
        a(href="20170628_emails/415_email.html") AU Protection off 4/15 Email
      li 
        a(href="20170628_emails/protection_off.html") AU Protection off
    hr

    h1 2017-06-29 Email work
    ol
      li
        a(href="20170629_emails/au-protection-report.html") AU protection report Email
      li
        a(href="20170629_emails/au-protection-rate-change.html") AU protection rate change Email
      li
        a(href="20170629_emails/gb-protection-rate-change.html") GB protection rate change Email
      li
        a(href="20170629_emails/gb-protection-report.html") GB protection report Email

    hr
    
    h1 2017-07-13 GB Emails
    ol
      li
        a(href="20170713_emails/au-protection-report.html") AU Protection Report
      li
        a(href="20170713_emails/gb-claim-approved-invoice.html") GB Claim Approved Invoice
      li
        a(href="20170713_emails/gb-claim-approved-receipt.html") GB Claim Approved Receipt
      li
        a(href="20170713_emails/gb-claim-denied.html") GB Claim Denied
      li
        a(href="20170713_emails/gb-claim-summary.html") GB Claim Summary
      li
        a(href="20170713_emails/gb-protection-off-no-refund.html") GB Protection Off - No Refund
      li
        a(href="20170713_emails/gb-protection-off.html") GB Protection Off
      li
        a(href="20170713_emails/gb-protection-rate-change.html") GB Protection Rate Change
      li
        a(href="20170713_emails/gb-protection-report.html") GB Protection Report

    hr

    h1 2017-07-13 GB Emails
    ol
      li
        a(href="20170716_emails/au-claim-approved-4-26.html") AU Claim Approved 4/26
      li
        a(href="20170716_emails/au-claim-approved-v2.html") AU Claim Approved v2
      li
        a(href="20170716_emails/au-claim-denied.html") AU Claim Denied
      li
        a(href="20170716_emails/au-claim-summary.html") AU Claim Summary
      li
        a(href="20170716_emails/au-protection-off-4-15.html") AU Protection Off 4/15
      li
        a(href="20170716_emails/au-protection-off-no-refund.html") AU Protection Off - No Refund
      li
        a(href="20170716_emails/au-protection-rate-change.html") AU Protection Rate Change
        